@font-face {
  font-family: 'Avenir';
  src: url('AvenirLTStd-Light.otf'); /* File to be stored at your site */
  }

/************
HOME
************/

section#home{
	height:100vh;
	background:url(../img/jonbg.jpg) no-repeat fixed center;
	background-size: cover;
}

div#home-container{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}
div#sub-desc{
	padding: 0px;
	margin-right:15px;
	margin-left:15px;
}

#desc-container{
	width: 630px;
    margin: auto;
    padding-left: 36px;
}

div#name{
	font-size:64px;
	color:#fff;
	text-align:center;
	margin-bottom:15px;
}
div#desc{
	font-family:Avenir;
	font-size:16px;
	color:#fff;
	text-align:justify;
	display:inline-block;
	vertical-align:middle;
	max-width:465px;
}

#home-img{
	width:104px;
	height:104px;
}

div#home-nav{
	padding-top:30px;
	margin-right:15px;
	margin-left:15px;
}

.home-nav-btn{
	font-family:Avenir;
	font-size:20px;
	color:#fff;
	font-weight:500;
	background:none;
	border: 0 none;
}

#home-nav-container{
	width: 630px;
    margin: auto;
    padding-left: 69px;
}
.home-nav-btn.btn:focus, .home-nav-btn.btn:active:focus, .home-nav-btn.btn.active:focus {
	outline: 0 none;
}

.home-nav-btn.btn-primary:hover, .home-nav-btn.btn-primary:focus, .home-nav-btn.btn-primary:active, .home-nav-btn.btn-primary.active{
	background: none;
	color:#28BACD;
	box-shadow: none;
	cursor: pointer;
}

a#a-portfolio{
	text-align:center;
	left:20%;
	position:relative;
}
a#a-contact{
	text-align:center;
	left:22%;
	position:relative;
}

#nav-arrow{
	margin-top:12%;
	left:50%;
	position:relative;
	width:50px;
}

/************
PORTFOLIO
************/


section#portfolio{
	height:100vh;
	padding: 50px 0px;
	background:#000 no-repeat fixed center;
	background-size: cover;
}

.fittobox {                /* give fit to box an aspect ratio */
    display: inline-block; /* let it be styled thusly */
    padding: 0;            /* get rid of pre-styling */
    margin: 0;
	width: 50%;          /* take up full width available */
    padding-top: 56.25%;   /* give aspect ratio of 16:9; "720 / 1280 = 0.5625" */
    height: 0px;           /* don't want it to expand beyond padding */
    position: relative;    /* allow for absolute positioning of child elements */
	left:25%;
}

.fittobox > iframe {
    position: absolute;    /* expand to fill */
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
	width: 100%;
	height: 50%;
}

.custom-btn{
	border-width: 2px;
	font-family: 'Bungee Inline', cursive;
	font-size: 18px;
	height:46px;
	width:146px;
	line-height:13px;
	border-radius:0px;
	color: #fff;
	background: #28BACD;
	border-color:rgba(0,0,0,0);
	cursor: pointer;
}

.custom-btn#resumebtn{
	float:right;
}


/************
CONTACT
************/
section#contact{
	min-height:100vh;
	background:url(../img/jonbg_flipped.jpg) no-repeat fixed center;
	background-size: cover;
	padding-top:10%;
}

#contact-content{
	position: relative;
	top: 50%;
	margin:0px;
}

#contact-form{
	position: relative;
	margin:0px;
}

div.contact-info{
	color:#fff;
	text-align:left;
	padding-bottom: 35px;
	padding-left:30px;
	font-family:Avenir;
	font-size:16px;
}
.custom-btn#submit{
	background:url(../img/send.png) #28BACD;
	background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 39px 43px;
}
.form-control{
	font-family:Avenir;
	font-size:16px;
}

span > a:link, span > a:visited { color:#ffffff; text-decoration: none; }
span > a:hover, span > a:active { color:#ffffff; text-decoration: underline; }